$white: #fff;
$light-01: #ebf1fb;
$light-02: #e8ebfa;
$light-blue: #b5c6e8;
$violet-01: #b2b9e3;
$violet-02: #7483db;
$violet-03: #596bd9;
$dark-blue: #33385a;
$dark-blue-02: #252942;
$blueberry-blue: #100f16;
$dark: #100f16;
$black: #000;
$red-01: #ffc9d6;
$red-02: #d90234;
$red-03: #fa003a;